<ion-content>
  <div class="sign-container gradient-1">

    <div class="header">
      <div class="title ion-text-center">
        <img src="https://image.flaticon.com/icons/svg/145/145807.svg" alt="">
      </div>
    </div>

    <div class="login-container">

      <ion-list lines="none" class="form fade-in">
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input class="ion-text-right"></ion-input>
          <ion-icon slot="end" name="at"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input class="ion-text-right"></ion-input>
          <ion-icon slot="end" name="lock"></ion-icon>
        </ion-item>
      </ion-list>

      <div class="ion-text-center fade-in">
        <ion-button class="green-button">
          Login
        </ion-button>
      </div>

    </div>

    <div class="sign-up-container gradient-2" [ngClass]="{'active': signupView}">

      <div class="toggle-text ion-text-center" tappable (click)="toggleSignUpView()">

        <span *ngIf="!signupView" [ngClass]="{'fade-in': !signupView, 'fade-out': signupView}">Sign Up</span>
        <span *ngIf="signupView" [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}">Login</span>
        <br>
        <ion-icon name="arrow-round-up" *ngIf="!signupView" [ngClass]="{'fade-in': !signupView, 'fade-out': signupView}"></ion-icon>
        <ion-icon name="arrow-round-down" *ngIf="signupView" [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}"></ion-icon>

      </div>

      <ion-list lines="none" class="form" [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input class="ion-text-right"></ion-input>
          <ion-icon slot="end" name="person"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input class="ion-text-right"></ion-input>
          <ion-icon slot="end" name="at"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input class="ion-text-right"></ion-input>
          <ion-icon slot="end" name="lock"></ion-icon>
        </ion-item>
      </ion-list>
      
      <div class="ion-text-center" [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}">
        <ion-button class="gray-button">
          Login
        </ion-button>
      </div>

    </div>

  </div>
</ion-content>
